h2: a(href="/posts/hello-world") Hello World

p. Welcome this Website is Powered by Harp-Git a Webhosting Service by Direkt SPEED that Offers to Directly run a Website via Git Repositorys

p it enables rapid deployment as you see 

p: img.img-responsive(src="http://placekitten.com/g/500/300")

p Laborum ut aliqua eu fugiat sed laboris consectetur culpa anim deserunt eiusmod esse sunt commodo dolore ex amet irure ut tempor exercitation magna sit voluptate cupidatat adipisicing velit reprehenderit nostrud enim cupidatat id fugiat eu dolor laborum consectetur velit magna laboris incididunt nostrud sint exercitation id aliqua in Duis laboris cillum proident aliqua dolore et incididunt cillum in exercitation id veniam ex Ut dolore quis

blockquote
  p Ut adipisicing pariatur officia fugiat culpa cupidatat ullamco sint est commodo est proident ut nostrud consectetur labore anim sint dolor esse pariatur laborum dolor elit irure anim commodo dolore sunt exercitation anim
  small: a(href="#") dolor elit anim
