p: a(href="/"): img.aside-profile-img.aside-img(src="http://placekitten.com/g/200/200")
p: Software Engineer &amp; Designer
p I live in Germany, Europe, where I build websites and applications for startups and other companys.
p Also offering my wide portfolio of predefined Services.
p Twitter: 
  a(href="http://twitter.com/#{ twitter }") @#{ twitter }
